<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Areas</title>

	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>

<body>

	<div th:include="home/base.html::header"></div>

	<div class="container mt-4">
		<h2>Tabla de usuarios y Areas</h2>
		<a class="btn btn-primary mb-3" th:href="@{/user-areas/assign}">Asignar áreas</a>
		<table class="table table-bordered table-hover mt-3">
			<thead class="thead-dark">
				<tr>
					<th>Nombre</th>
					<th>Correo</th>
					<th>Áreas Asignadas</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.firstName + ' ' + user.lastName}"></td>
					<td th:text="${user.email}"></td>
					<td>
						<ul>
							<li th:each="ua : ${user.userAreas}">
								<span th:text="${ua.area.areaName}"></span>
								<a th:href="@{'/user-areas/edit/' + ${ua.id}}"
									class="btn btn-warning btn-sm ml-2">Editar</a>
								<form th:action="@{'/user-areas/delete/' + ${ua.id}}" method="post"
									style="display:inline;">
									<button type="submit" class="btn btn-danger btn-sm ml-1"
										onclick="return confirm('¿Estás seguro de eliminar esta área?')">Eliminar</button>
								</form>
							</li>
						</ul>
					</td>

				</tr>
			</tbody>
		</table>
	</div>

	<div th:include="home/base.html::footer"></div>

	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>