<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Crear Area</title>
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>

	<div th:include="home/base.html::header"></div>

	<div class="container mt-4">
		<h2>Crear Area</h2>

		<form th:action="@{/user-areas/assign}" method="post">
		        <div class="form-group">
		            <label for="userId">Selecciona un usuario:</label>
		            <select name="userId" class="form-control" required>
		                <option value="" disabled selected>-- Selecciona --</option>
		                <option th:each="user : ${users}" th:value="${user.userId}"
		                        th:text="${user.firstName + ' ' + user.lastName}"></option>
		            </select>
		        </div>

		        <div class="form-group">
		            <label>Selecciona las áreas:</label>
		            <div th:each="area : ${areas}" class="form-check">
		                <input class="form-check-input" type="checkbox" name="areaIds" th:value="${area.areaId}" id="area-checkbox-[[${area.areaId}]]">
		                <label class="form-check-label" th:for="|area-checkbox-${area.areaId}|" th:text="${area.areaName}"></label>
		            </div>
		        </div>

		        <button type="submit" class="btn btn-success">Asignar</button>
		        <a th:href="@{/users}" class="btn btn-secondary">Cancelar</a>
		    </form>
	</div>

	<div th:include="home/base.html::footer"></div>

	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>