<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Crear Area</title>
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>

	<div th:include="home/base.html::header"></div>

	<div class="container mt-4">
		<h2>Crear Area</h2>

		<form th:action="@{/areas/save}" th:object="${area}" method="post">
			<div class="form-group">
				<label for="firstName">Nombre del area</label>
				<input type="text" th:field="*{areaName}" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="lastName">Descripcion del area</label>
				<textarea type="text" th:field="*{areaDescription}" class="form-control" required> </textarea>
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
			<a th:href="@{/areas}" class="btn btn-secondary">Cancelar</a>
		</form>
	</div>

	<div th:include="home/base.html::footer"></div>

	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>